#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define RAISE   1

/{
    macros {
        ms: ms {
            label = "mac screenshot";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
		        , <&macro_press &kp LGUI>
		        , <&macro_press &kp LCTRL>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LSHFT &kp LGUI &kp LCTRL>
                ;
        };
        ml: ml {
            label = "mac lock";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
		        , <&macro_press &kp LCTRL>
                , <&macro_tap &kp Q>
                , <&macro_release &kp LGUI &kp LCTRL>
                ;
        };
        emoji: emoji {
            label = "mac emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
		        , <&macro_press &kp LCTRL>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LGUI &kp LCTRL>
                ;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS  &kp EQUAL  &kp BSPC &kp BSPC
&kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT  &kp RBKT &kp BSLH &ms
&mt LCTRL ESC  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp SQT  &kp ENTER  &emoji
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT  &kp UP  &kp ESC
&kp LCTRL  &kp LALT  &kp LGUI      &kp SPACE      &mo RAISE  &kp ESC  &kp C_MUTE  &kp LEFT  &kp DOWN  &kp RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        FN {
            bindings = <
&kp ESC  &kp F1 &kp F2  &kp F3 &kp F4 &kp F5  &kp F6  &kp F7  &kp F8  &kp F9 &kp F10  &kp F11  &kp F12  &kp BSPC &bt BT_SEL 0
&kp TAB  &ml  &kp W  &kp E  &kp K_REDO  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp C_BRI_DEC  &kp C_BRI_INC &kp BSLH &bt BT_SEL 1
&mt LCTRL ESC  &kp A  &kp S  &kp D  &kp C_AC_SEARCH  &kp G  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp SEMI &kp SQT  &kp ENTER  &bt BT_SEL 2
&kp LSHFT  &kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT &kp PAGE_UP  &bt  BT_CLR
&kp LCTRL  &kp LALT  &kp LGUI      &kp SPACE      &trans  &bootloader  &kp C_MUTE  &kp HOME  &kp PAGE_DOWN  &kp END
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
